networks:
  default:
    name: dice
    driver: bridge

services:
  jaeger:
    image: jaegertracing/jaeger:2.9.0@sha256:e128b9adbb29c7146ac0b43e26be9dec794fee3478f2f05c4ef7a5b14ddba9a4
    ports:
      - "16686:16686"   # Web HTTP
    restart: unless-stopped
  user:
    build:
      context: ./user/
      dockerfile: ./Dockerfile
    pid: "host"
    ports:
      - "8082:8082"
    volumes:
      - /proc:/host/proc
    restart: unless-stopped
  go-auto-user:
    depends_on:
      - user
    build:
      context: ../..
      dockerfile: ./Dockerfile
    privileged: true
    pid: "host"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_GO_AUTO_TARGET_EXE=/usr/local/bin/user
      - OTEL_SERVICE_NAME=user
      - OTEL_PROPAGATORS=tracecontext,baggage
      - OTEL_GO_AUTO_GLOBAL=true
      - OTEL_GO_AUTO_INCLUDE_DB_STATEMENT=true
      - OTEL_GO_AUTO_PARSE_DB_STATEMENT=true
    volumes:
      - /proc:/host/proc
  frontend:
    depends_on:
      - jaeger
      - user
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    command: "-user=http://user:8082"
    pid: "host"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_SERVICE_NAME=frontend
      - OTEL_PROPAGATORS=tracecontext,baggage
    ports:
      - "8080:8080"
    volumes:
      - /proc:/host/proc
  go-auto-frontend:
    depends_on:
      - frontend
    build:
      context: ../..
      dockerfile: ./Dockerfile
    privileged: true
    pid: "host"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_GO_AUTO_TARGET_EXE=/usr/local/bin/frontend
      - OTEL_SERVICE_NAME=frontend
      - OTEL_PROPAGATORS=tracecontext,baggage
      - OTEL_GO_AUTO_GLOBAL=true
    volumes:
      - /proc:/host/proc
