package main

import (
	"net/http"

	"github.com/gin-gonic/gin"
)


func main() {
    r := gin.Default()
    r.GET("/hello-gin/:id", func(c *gin.Context) {
        c.String(http.StatusOK, "hello\n")
    })

    _ = r.Run()
}
