name: build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Install build dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y clang llvm libbpf-dev
      - name: make generate
        run: |
          make generate
      - name: verify output
        run: |
          git diff --exit-code || (echo 'generated diff, please run "make generate"')
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Build auto-instrumentation
        run: |
          IMG=otel-go-instrumentation make docker-build
  offsets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Update offsets
        run: |
          make docker-offsets
      - name: Check diff
        run: |
          git diff --exit-code || (echo 'offsets diff detected, run "make offsets"' && exit 1)
