name: build

on:
  push:
    branches: [ main ]
  pull_request:

env:
  GO_VERSION: "~1.24.0"

jobs:
  generate-and-test:
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-22.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache-dependency-path: "**/go.sum"
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y clang llvm libbpf-dev
      - name: Architecture
        run: |
          uname -p;
          clang --version;
      - run: make test
      - run: sudo --preserve-env=PATH make test-ebpf
      - run: make check-clean-work-tree
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Build auto-instrumentation
        run: |
          make docker-build
  offsets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache-dependency-path: "**/go.sum"
      - name: Update offsets
        run: make offsets
      - name: Check diff
        run: make check-clean-work-tree
