name: Links (Fail Fast)

on:
  push:
    branches:
      - main
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  check-links:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Restore lychee cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        id: cache-restore
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Link Checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          fail: true
          args: >
            --verbose
            --no-progress
            --max-concurrency 5
            --cache
            --max-cache-age 1d
            --cache-exclude-status 300..=599
            "**/*.md"

      - name: Save lychee cache
        if: always()
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: .lycheecache
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
