name: links

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  check-links:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 0
    - uses: lycheeverse/lychee-action@v1.5.4
      with:
        args: >-
          -v -n "*.md" "**/*.md"
          --exclude "http://localhost*"
        fail: true
