name: Automatic Offset Generation
on:
  workflow_dispatch:

  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  updateOffsets:
    permissions:
      contents: write # required for pushing changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: stable
          check-latest: true
          cache-dependency-path: "**/go.sum"

      - name: Update offsets
        run: make offsets

      - name: generate token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: generate-token
        with:
          app-id: ${{ vars.OTELBOT_APP_ID }}
          private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}

      - name: "Create/update PR"
        env:
          # Not using secrets.GITHUB_TOKEN since pull requests from that token
          # do not run workflows.
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          message="Automatic update of offsets.json"
          body="The offsets have been updated by go-offsets-tracker"
          branch="otelbot/offset-content-auto-update"

          git config user.name otelbot
          git config user.email 197425009+otelbot@users.noreply.github.com

          git checkout -b $branch
          git commit -a -m "$message"
          git push --set-upstream origin $branch
          gh pr create --title "$message" \
                       --body "$body" \
                       --base main
