name: Automatic libbpf Sync
on:
  workflow_dispatch:
    inputs:
        version:
          description: 'Version constraint'
          default: '< 1.5, >= 1.4.7'
          type: string
  schedule:
    - cron: '0 0 * * 0' # Sunday at midnight.

permissions:
  contents: read

jobs:
  synclibbpf:
    permissions:
      contents: write # required for pushing changes
      pull-requests: write # required for creating pull requests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: stable
          check-latest: true
          cache-dependency-path: "**/go.sum"
      - id: sync
        name: Sync libbpf
        run: make synclibbpf
        env:
          LIBBPF_VERSION: ${{ inputs.version }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          commit-message: Update libbpf version
          branch: automated/libbpf
          delete-branch: true
          title: '[chore] Update libbpf'
          body: |
            This is an automated PR to update the copied libbpf files.
            
            ### Update logs
            
            ```terminal
            ${{join(steps.sync.outputs.*, '\n')}}
            ```
